@model Surveys
@{
    ViewData["Title"] = "Survey";
}

<h2>Survey</h2>

<form asp-controller="home" asp-action="SaveSurvey" method="post">

    <label asp-for="ParkCode">Favorite National Park: </label>
    <select asp-for="ParkCode" asp-items="@Model.parks"></select>
    <br />
    <label asp-for="EmailAddress">Email Address: </label>
    <input type="text" name="EmailAddress" required>
    <br />
    <label asp-for="State">State of Residence: </label>
    <select asp-for="State" asp-items="@Model.states"></select>
    <br />

    <label asp-for="ActivityLevel">Activity Level: </label>

    <input type="radio" id="inactive" name="activityLevel" value="Inactive">
    <label for="inactive">Inactive</label>

    <input type="radio" id="sedentary" name="activityLevel" value="Sedentary">
    <label for="sedentary">Sedentary</label>

    <input type="radio" id="active" name="activityLevel" value="Active">
    <label for="active">Active</label>

    <input type="radio" id="extremelyActive" name="activityLevel" value="Extremely Active">
    <label for="extremelyActive">Extremely Active</label>


    <input type="submit" value="Submit">
</form> 