@model Surveys
@{
    ViewData["Title"] = "SurveyResults";
}

<h2>SurveyResults</h2>

@*<table>
    @foreach (var survey in Model)
    {
        <tr>
            <th>
            </th>
        </tr>
    }
</table>*@